.main-div{
    width: 400px;
    height: 622px;
    background-color: white;
    border: 1.5px solid gray;
}

.header{
    display: flex;
    width: 100%;
}

.butn{
    margin-top: 5%;
    width: 121px;
    height: 40px;
}

.header p{
    margin-left: 10%;
}

.header1{
    font-size: 16px;
    font-weight: 700;
    width: 111px;
    height: 19px;
    margin-top: 5%;
}

.parentDiv{
    width: 100%;
    display: flex;
    line-height: 0%;
    margin-top: 5%;
}

.Data1{
    margin-top: 3%;
    margin-left: 2%;
}

.Data2{
    margin-left: 9%;
}

.data2order{
    color: #9A9AB0;
    font-size: 12px;
}

.btnDiv{
    margin-left: 85px;
}